html {
    background-color: #eee;
    background-image: url('../img/grey.png');
    background-size: 397px 322px;
    padding: 40px;
}

.navbar-default {
    border-radius: 5px 5px 0 0;
    border: none;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: #BBB 0 0 5px;
    color: #656C88;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .brand-name {
    color: #656C88;
    font-weight: 400;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.graph {
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1) 0 1px 4px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px 0px;
}
