{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars
]}.

{deps, [
        {lager, ".*",
            {git, "https://github.com/basho/lager", {tag, "3.2.3"}}},
        {erlexec, ".*",
            {git, "https://github.com/saleyn/erlexec",
                {ref, "2d12c73fe4c637c8c9ef0afcd2070b4291310778"}}},
        {cbor, ".*",
            {git, "https://github.com/timofey-barmin/cbor-erlang",
                {ref, "cc1673f1e9038267a564504690dc79ead77dd067"}}},
        {jiffy, ".*",
            {git, "https://github.com/davisp/jiffy", {tag, "0.14.2"}}}
        ]}.

{deps_dir, "deps"}.

{minimum_otp_vsn, "17.0"}.
