.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
node/rel/mzbench
server/rel/mzbench_api
.make
.rebar
log
*.rpm
*.tgz
pkgroot
dialyzer.log
*.pyc
.DS_Store
server/data
server/plugins
acceptance_tests/test_server.config
_build