.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
node/rel/mz_bench
server/rel/mz_bench_api
.make
.rebar
log
*.rpm
*.tgz
pkgroot
dialyzer.log
*.pyc
.DS_Store
server/mz_bench_server.config
server/data
acceptance_tests/test_server.config
