
{erl_opts, [
    debug_info,
    warn_export_all,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{eunit_opts,
 [
    verbose
 ]}.

{deps, [
]}.

{port_specs, [
    { "priv/mz_counter_nif.so", [
      "c_src/mz_counter_nif.c"
    ]}
]}.

{port_env, [
  {"CFLAGS", "$CFLAGS -O3 -std=c99"}
]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.
{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"}]}.
