{erl_opts, [
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors,
    {platform_define, "^18", deprecated_now}
]}.

{deps, []}.

{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{eunit_opts, [verbose]}.
{recursive_cmds, [eunit, xref, clean]}.

{minimum_otp_vsn, "17.0"}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]}
    ]}.