{erl_opts, [
    nowarn_deprecated_function, % because we can't drop erlang:now without dropping Erlang 17
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, []}.

{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{recursive_cmds, [eunit, xref, clean]}.

{require_otp_vsn, "17.*|18.*"}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]}
    ]}.