{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}}
        ]}.

{deps_dir, "./deps"}.

{minimum_otp_vsn, "17.0"}.
