{erl_opts, [
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {hamcrest, ".*",
            {git, "git://github.com/hyperthunk/hamcrest-erlang", {ref, "908a24fda4a46776a5135db60ca071e3d783f9f6"}}},
        {cowboy, ".*",
            {git, "git://github.com/ninenines/cowboy.git", {ref, "90ae31998e8d0887b9efe4b441136ac047708bb9"}}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
        {gen_smtp, ".*",
            {git, "git://github.com/Vagabond/gen_smtp.git", {ref, "f62f2b7b99afdd9b6041e58043740af2f899da6c"}}},
        {meck, ".*",
            {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        {mzbench_language, ".*",
            {rsync, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*",
            {rsync, "../common_apps/mzbench_utils/"}},
        {erlcloud, ".*",
            {git, "git://github.com/gleber/erlcloud.git",
            {ref, "49012c5383a5943a8ee03334c10166a96d4c3efe"}}}
        ]}.

{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose]}.

{minimum_otp_vsn, "17.0"}.

{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ethercrow/rebar3_rsync_resource", {ref, "53eb6aa50db8e0de7cf5833a48e48c205f5c8d56"}}}
    ]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]},
    {plt_extra_apps, [cowboy, cowlib]}
    ]}.

{relx, [
    {release, {mzbench_api, "0.4.0"},
        [mzbench_api]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    {include_erts, true},
    {generate_start_script, false},
    {overlay, [
            {copy, "rel/files/mzbench_api", "bin/mzbench_api"},
            {copy, "rel/files/erl", "bin/erl"},
            {copy, "rel/files/nodetool", "bin/nodetool"}
        ]}
    ]}.
