{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {hamcrest, ".*",
            {git, "git://github.com/hyperthunk/hamcrest-erlang", "908a24fda4a46776a5135db60ca071e3d783f9f6"}},
        {cowboy, ".*",
            {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre2"}}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", "137d3d94b6ee10001d761d412cbbe7f665680c98"}},
        {gen_smtp, ".*",
            {git, "git://github.com/Vagabond/gen_smtp.git", "f62f2b7b99afdd9b6041e58043740af2f899da6c"}},
        {meck, ".*",
            {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        {mzbench_language, ".*",
            {rsync, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*",
            {rsync, "../common_apps/mzbench_utils/"}},
        {erlcloud, ".*",
            {git, "git://github.com/gleber/erlcloud.git",
            "da1810425b5daf48f21aebed70a898737d7ee4de"}}
        ]}.

{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{require_otp_vsn, "17.*|18.*"}.

{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ethercrow/rebar3_rsync_resource", {branch, "master"}}}
    ]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]},
    {plt_extra_apps, [cowboy, cowlib]}
    ]}.