{erl_opts, [
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "3.2.3"}}},
        {hamcrest, ".*",
            {git, "git://github.com/hyperthunk/hamcrest-erlang", {ref, "a8578932014c86fe395982fa3151d48897b9c37f"}}},
        {cowboy, ".*",
            {git, "git://github.com/ninenines/cowboy.git", {ref, "90ae31998e8d0887b9efe4b441136ac047708bb9"}}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
        {gen_smtp, ".*",
            {git, "git://github.com/Vagabond/gen_smtp.git", {ref, "37cc4bdf2489ca178af2113b0eea4533d6a3fa4d"}}},
        {meck, ".*",
            {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        {mzbench_language, ".*",
            {rsync, "../common_apps/mzbench_language/"}},
        {mzbench_utils, ".*",
            {rsync, "../common_apps/mzbench_utils/"}},
        {erlcloud, ".*",
            {git, "git://github.com/parsifal-47/erlcloud.git",
            {ref, "f3f3a33baf2833d2970eeb71b85e7cac8a090291"}}},
        {hdr_histogram, ".*",
            {git, "git://github.com/machinezone/hdr_histogram_erl.git", {tag, 'experimental-multithread-support2'}}}
        ]}.

{deps_dir, "deps"}.

{lib_dirs, ["deps"]}.

{eunit_opts, [verbose]}.

{minimum_otp_vsn, "17.0"}.

{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ethercrow/rebar3_rsync_resource", {ref, "53eb6aa50db8e0de7cf5833a48e48c205f5c8d56"}}}
    ]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_undefined_callbacks,
        race_conditions,
        underspecs,
        unmatched_returns
        ]},
    {plt_extra_apps, [cowboy, cowlib]}
    ]}.

{relx, [
    {release, {mzbench_api, "0.5.3"},
        [mzbench_api]},
    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/sys.config"},
    {include_erts, true},
    {extended_start_script, true}
    ]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "sed \"s/{{vsn}}/`cat $REBAR_DEPS_DIR/mzbench_api/priv/version`/g\" \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html.template\" > \"$REBAR_DEPS_DIR/mzbench_api/priv/http_root/index.html\""}]}.
