[
  {mzbench_api, [
    % only dummyplugin which allocates on localhost is available by default
    {cloud_plugins, [{local,#{module => mzb_dummycloud_plugin}}]},

    % For ec2 allocator specify your credentials and uncomment the following lines
    %{cloud_plugins, [{ec2, #{module => mzb_api_ec2_plugin,
    %                         instance_spec => [
    %                              {image_id, "ami-3b90a80b"},
    %                              {group_set, ""},
    %                              {key_name, "-"},
    %                              {subnet_id, "-"},
    %                              {instance_type, "t2.micro"},
    %                              {availability_zone, "us-west-2a"},
    %                               {iam_instance_profile_name, ""}
    %                            ],
    %                         instance_user => "ec2-user",
    %                         config => [
    %                              {ec2_host, "ec2.us-west-2.amazonaws.com"},
    %                              {access_key_id, "-"},
    %                              {secret_access_key, "-"}
    %                             ]
    %                        }}]},

    % For static cloud
    %{cloud_plugins, [{static, #{module => mzb_staticcloud_plugin, hosts => ["Host1", "Host2", ...]}}]},

    % only local connections are accepted, specify 0.0.0.0 if you want your server to be accesible
    % for the whole network
    {network_interface, "127.0.0.1"},
    % 80 is default http port
    {listen_port, 4800},
    {bench_log_file, "log.txt"},
    {bench_log_user_file, "log_user.txt"},
    {bench_log_compression, deflate},
    {bench_metrics_file, "metrics_~s.txt"},
    {bench_metrics_compression, none},
    {bench_read_at_once, 1024},
    {bench_poll_timeout, 1000},
    {bench_log_read_chunk, 32000},
    {bench_log_max_dashboard, 2048000}, % Bytes
    {node_git, "https://github.com/machinezone/mzbench.git"},
    {node_deployment_path, "~/.local/share"},
    {worker_deployment_path, "~/.local/share/mzbench_workers"},
    {plugins_dir, "~/.local/share/mzbench_api/plugins"},
    {bench_data_dir, "~/.local/share/mzbench_api/data"},
    {tgz_packages_dir, "~/.local/cache/mzbench_api/packages"},
    {metric_update_interval_ms, 10000},
    {max_bench_num, 1000},

    % benchmark will crash if ntp time diff in cluster is greater than this value
    {ntp_max_timediff_s, undefined}, % in sec but if undefined - run ntp but do not crash in any case
    {vm_args, []}
  ]}
].
