%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "mzbench", "0.3.6",
        [
         kernel,
         stdlib,
         sasl,
         jiffy,
         mzbench,
         dummy_worker,
         luerl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mzbench"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, mzbench, [{mod_cond, app}, {incl_cond, include}]},
       {app, lager,   [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "mzbench"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "mzbench/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/mzbench", "bin/mzbench"},
           {copy, "files/mzbench.cmd", "bin/mzbench.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../scripts/run.escript", "bin/run.escript"},
           {copy, "../scripts/run_local.escript", "bin/run_local.escript"},
           {copy, "../scripts/wait_cluster_start.escript", "bin/wait_cluster_start.escript"},
           {copy, "../scripts/report_network_usage.py", "bin/report_network_usage.py"},
           {copy, "../scripts/metric_names.escript", "bin/metric_names.escript"}
          ]}.
