[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {lager, [
   {colored, false},
   {handlers, [
     {lager_console_backend, [info, {lager_default_formatter, [time," [",severity,"] ", pid, " ", message, "\n"]}]},
     {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
     {lager_file_backend, [{file, "log/console.log"}, {level, info}, {formatter, lager_default_formatter},
                           {formatter_config, [time," [",severity,"] ", pid, " ", message, "\n"]}]}
   ]}
 ]},
 {amqp_client, [
   { prefer_ipv6, false }
 ]}
].

