{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars
]}.

{sub_dirs, ["apps/*", "rel", "deps"]}.

{deps, [
        {netlink, ".*",
            {git, "git://github.com/miriampena/netlink", "f6304bd0544d9266a1f002144829b5f1227692dd"}},
        {hamcrest, ".*",
            {git, "git://github.com/hyperthunk/hamcrest-erlang", "908a24fda4a46776a5135db60ca071e3d783f9f6"}},
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {ranch, ".*",
            {git, "git://github.com/ninenines/ranch.git", {tag, "1.1.0"}}},
        {exometer_core, ".*",
            {git, "git://github.com/Feuerlabs/exometer_core.git", {tag, "1.4"}}},
        {exometer, ".*",
            {git, "git://github.com/Feuerlabs/exometer.git", {tag, "1.2"}}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", {tag, "0.13.2"}}},
        {luerl, ".*",
            {git , "git://github.com/rvirding/luerl.git", "8ef173e03d1b1e35883651164d34afb9ecf1acba"}},
        {mzbench_language, ".*", {rsync, "../common_apps/mzbench_language"}},
        {mzbench_utils, ".*", {rsync, "../common_apps/mzbench_utils"}},
        {hdr_histogram, ".*",
            {git, "git://github.com/machinezone/hdr_histogram_erl.git", 'experimental-multithread-support2'}}]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps", "apps"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{recursive_cmds, [eunit, xref, clean]}.

{require_otp_vsn, "17.*"}.
