{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {pretty_errors, ".*",
            {git, "git://github.com/ethercrow/pretty_errors", "445d2aa1c10dd8e0fc1cc811b248a7494f838cc9"}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
        {mzbench_utils, ".*",
            {rsync, "../mzbench_utils/"}}
        ]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{recursive_cmds, [eunit, xref, clean]}.
{plugins, [
    {rebar_rsync_deps, ".*", {git, "https://github.com/ethercrow/rebar3_rsync_resource", {branch, "master"}}}
    ]}.
{require_otp_vsn, "17.*|18.*"}.